.logoa{
    width: 74px;
    height: 24px;

}
#font{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px
}
#advancesearch{

    width: 300px;
    height: 15px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;

    width: 300px;
    height: 15px;

}