
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial,sans-serif;
    cursor: auto;
    white-space: nowrap;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    font-size: 14px;
  }
  
#sign{
    background-color: #1a73e8; 
    cursor: pointer;
  border: 1px solid transparent;
  margin-left: 8px;
  color: white;
  padding-right: 15px;
    padding-left: 15px;
    height: 36px;
    width: 78px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
.middle{
    
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    position: relative;
    box-sizing: border-box;

    
}
.form input[type="text"] { 
   display: flex;
   z-index: 3;
   height: 44px;
   background: #fff;
   border: 1px solid #dfe1e5;
   box-shadow: none;
   border-radius: 24px;
   margin: 0 auto;
   
   
   font-size: 14px;
   font-family: arial,sans-serif;
   color: #202124 ;

   padding-top: 5px;
   padding-left: 14px;
   padding-right: 8px;
   width: 560px;
   cursor: pointer;
   
   


}
#buttonsearch{
   
    margin-top: 11px;
    margin-right: 4px;
    margin-bottom: 11px;
    margin-left: 4px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 16px;
    padding-left: 16px;
    ackground-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor:pointer ; 
    user-select: none;
    


}
.lang{
    padding-top: 90px;
}
.footer{

position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}
.footer1
{
  color: rgb(32, 33, 36);
display: flex;
flex-wrap: wrap;
font-family: arial, sans-serif;
font-size: 14px;
height: 92px;
justify-content: space-evenly;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
width: 502px;
}
.footer2{
 
}
.footer3{
  color: rgb(32, 33, 36);
  display: flex;
  flex-wrap: wrap;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 46px;
  justify-content: space-evenly;
  width: 399.375px
}
.footer3 li{
  color: rgb(112, 117, 122);
cursor: auto;
display: block;
font-family: arial, sans-serif;
font-size: 14px;
height: 16px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-decoration: underline;
white-space: nowrap;
width: 56.8125px;
}
.footer2{
  color: rgb(32, 33, 36);
display: flex;
flex-wrap: wrap;
font-family: arial, sans-serif;
font-size: 14px;
height: 46px;
justify-content: space-evenly;
width: 224.625px
}


